[safe]
	directory = '*'
	directory = D:/nvim-portable-win
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-css
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-html
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-lua
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-java
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vim
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-javascript
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-python
	directory = D:/nvim-portable-win/nvim/config/nvim-data/tree-sitter-latex
[user]
	email = contasecretaalternativa@gmail.com
	name = Andrikin
