; git check-ignore -v path/to/file
[safe]
	directory = *
	; directory = "*"
	; directory = [A-Z]:/nvim/projetos/*

	; ; TESTE GLOB MATCHING
	; directory = D:/nvim/nvim-portable-win
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/*

	; directory = D:/nvim/nvim-portable-win
	; directory = D:/nvim/projetos/ouvidoria-latex-modelos
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = D:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = E:/nvim/nvim-portable-win
	; directory = E:/nvim/projetos/ouvidoria-latex-modelos
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = E:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = F:/nvim/nvim-portable-win
	; directory = F:/nvim/projetos/ouvidoria-latex-modelos
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = F:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = G:/nvim/nvim-portable-win
	; directory = G:/nvim/projetos/ouvidoria-latex-modelos
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = G:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = H:/nvim/nvim-portable-win
	; directory = H:/nvim/projetos/ouvidoria-latex-modelos
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = H:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = I:/nvim/nvim-portable-win
	; directory = I:/nvim/projetos/ouvidoria-latex-modelos
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = I:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

	; directory = J:/nvim/nvim-portable-win
	; directory = J:/nvim/projetos/ouvidoria-latex-modelos
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-diff
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitattributes
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitcommit
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-gitignore
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_config
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-git_rebase
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-jsdoc
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-json5
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luadoc
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luap
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-luau
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-regex
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-scss
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-vue
	; directory = J:/nvim/nvim-portable-win/nvim/config/nvim-data/tree-sitter-xml

[user]
	email = contasecretaalternativa@gmail.com
	name = Andrikin
