# nvim/
# !nvim/config/nvim/init.lua
# !nvim/config/nvim/lua
# !nvim/config/nvim/init.vim.bkp
# !nvim/config/nvim-data/site/plugin/awesome-pairing.vim
# !nvim/config/nvim-data/site/plugin/awesome-substitute.vim
# !nvim/share/nvim/sysinit.vim

*.exe
*.zip
desktop.ini
.ssh/
.bash_history
.zen/

nvim/share/applications/
nvim/share/icons/
nvim/share/locale/
nvim/share/man/
nvim/share/nvim-qt/
nvim/share/nvim/runtime/

nvim/config/nvim/lua/andrikin/.luacheckrc
nvim/config/nvim/lua/andrikin/.luarc.json

nvim/config/nvim-data/
nvim/config/nvim-data/lazy/
nvim/config/nvim-data/telescope_history
nvim/config/nvim-data/lsp.log.ssh/
nvim/config/nvim-data/lsp.log
nvim/config/nvim-data/harpoon.json
nvim/config/nvim-data/shada/
nvim/config/nvim-data/site/autoload/
nvim/config/nvim-data/tree-sitter-markdown/
nvim/config/nvim-data/tree-sitter-markdown_inline/
nvim/config/nvim-data/tree-sitter-css/
nvim/config/nvim-data/tree-sitter-html/
nvim/config/nvim-data/tree-sitter-java/
nvim/config/nvim-data/tree-sitter-lua/
nvim/config/nvim-data/tree-sitter-python/
nvim/config/nvim-data/tree-sitter-scss/
nvim/config/nvim-data/tree-sitter-vim/
nvim/config/nvim-data/tree-sitter-vue/
nvim/config/nvim-data/tree-sitter-vimdoc/
nvim/config/nvim-data/tree-sitter-gitcommit/
nvim/config/nvim-data/luasnip.log
nvim/config/nvim-data/undotree/
nvim/config/nvim-data/harpoon/
nvim/config/nvim-data/tree-sitter-ada/
nvim/config/nvim-data/tree-sitter-agda/
nvim/config/nvim-data/tree-sitter-angular/
nvim/config/nvim-data/tree-sitter-apex/
nvim/config/nvim-data/tree-sitter-arduino/
nvim/config/nvim-data/tree-sitter-asm/
nvim/config/nvim-data/tree-sitter-astro/
nvim/config/nvim-data/tree-sitter-authzed/
nvim/config/nvim-data/tree-sitter-awk/
nvim/config/nvim-data/tree-sitter-bash/
nvim/config/nvim-data/tree-sitter-bass/
nvim/config/nvim-data/tree-sitter-beancount/
nvim/config/nvim-data/tree-sitter-bibtex/
nvim/config/nvim-data/tree-sitter-bicep/
nvim/config/nvim-data/tree-sitter-bitbake/
nvim/config/nvim-data/tree-sitter-blueprint/
nvim/config/nvim-data/tree-sitter-bp/
nvim/config/nvim-data/tree-sitter-c/
nvim/config/nvim-data/tree-sitter-c_sharp/
nvim/config/nvim-data/tree-sitter-cairo/
nvim/config/nvim-data/tree-sitter-capnp/
nvim/config/nvim-data/tree-sitter-chatito/
nvim/config/nvim-data/tree-sitter-clojure/
nvim/config/nvim-data/tree-sitter-cmake/
nvim/config/nvim-data/tree-sitter-commonlisp/
nvim/config/nvim-data/tree-sitter-cooklang/
nvim/config/nvim-data/tree-sitter-corn/
nvim/config/nvim-data/tree-sitter-cpon/
nvim/config/nvim-data/tree-sitter-cpp/
nvim/config/nvim-data/tree-sitter-csv/
nvim/config/nvim-data/tree-sitter-cuda/
nvim/config/nvim-data/tree-sitter-cue/
nvim/config/nvim-data/tree-sitter-d/
nvim/config/nvim-data/tree-sitter-dart/
nvim/config/nvim-data/tree-sitter-devicetree/
nvim/config/nvim-data/tree-sitter-dhall/
nvim/config/nvim-data/tree-sitter-disassembly/
nvim/config/nvim-data/tree-sitter-djot/
nvim/config/nvim-data/tree-sitter-dockerfile/
nvim/config/nvim-data/tree-sitter-dot/
nvim/config/nvim-data/tree-sitter-doxygen/
nvim/config/nvim-data/tree-sitter-dtd/
nvim/config/nvim-data/tree-sitter-earthfile/
nvim/config/nvim-data/tree-sitter-ebnf/
nvim/config/nvim-data/tree-sitter-eds/
nvim/config/nvim-data/tree-sitter-eex/
nvim/config/nvim-data/tree-sitter-elixir/
nvim/config/nvim-data/tree-sitter-elm/
nvim/config/nvim-data/tree-sitter-elsa/
nvim/config/nvim-data/tree-sitter-elvish/
nvim/config/nvim-data/tree-sitter-embedded_template/
nvim/config/nvim-data/tree-sitter-erlang/
nvim/config/nvim-data/tree-sitter-facility/
nvim/config/nvim-data/tree-sitter-faust/
nvim/config/nvim-data/tree-sitter-fennel/
nvim/config/nvim-data/tree-sitter-fidl/
nvim/config/nvim-data/tree-sitter-firrtl/
nvim/config/nvim-data/tree-sitter-fish/
nvim/config/nvim-data/tree-sitter-foam/
nvim/config/nvim-data/tree-sitter-forth/
nvim/config/nvim-data/tree-sitter-fortran/
nvim/config/nvim-data/tree-sitter-fsh/
nvim/config/nvim-data/tree-sitter-func/
nvim/config/nvim-data/tree-sitter-fusion/
nvim/config/nvim-data/tree-sitter-gdscript/
nvim/config/nvim-data/tree-sitter-gdshader/
nvim/config/nvim-data/tree-sitter-gleam/
nvim/config/nvim-data/tree-sitter-glimmer/
nvim/config/nvim-data/tree-sitter-glsl/
nvim/config/nvim-data/tree-sitter-gn/
nvim/config/nvim-data/tree-sitter-gnuplot/
nvim/config/nvim-data/tree-sitter-go/
nvim/config/nvim-data/tree-sitter-godot_resource/
nvim/config/nvim-data/tree-sitter-gomod/
nvim/config/nvim-data/tree-sitter-gosum/
nvim/config/nvim-data/tree-sitter-gotmpl/
nvim/config/nvim-data/tree-sitter-gowork/
nvim/config/nvim-data/tree-sitter-gpg/
nvim/config/nvim-data/tree-sitter-graphql/
nvim/config/nvim-data/tree-sitter-groovy/
nvim/config/nvim-data/tree-sitter-gstlaunch/
nvim/config/nvim-data/tree-sitter-hack/
nvim/config/nvim-data/tree-sitter-hare/
nvim/config/nvim-data/tree-sitter-haskell/
nvim/config/nvim-data/tree-sitter-haskell_persistent/
nvim/config/nvim-data/tree-sitter-hcl/
nvim/config/nvim-data/tree-sitter-heex/
nvim/config/nvim-data/tree-sitter-helm/
nvim/config/nvim-data/tree-sitter-hjson/
nvim/config/nvim-data/tree-sitter-hlsl/
nvim/config/nvim-data/tree-sitter-hlsplaylist/
nvim/config/nvim-data/tree-sitter-hocon/
nvim/config/nvim-data/tree-sitter-hoon/
nvim/config/nvim-data/tree-sitter-htmldjango/
nvim/config/nvim-data/tree-sitter-http/
nvim/config/nvim-data/tree-sitter-hurl/
nvim/config/nvim-data/tree-sitter-hyprlang/
nvim/config/nvim-data/tree-sitter-idl/
nvim/config/nvim-data/tree-sitter-ini/
nvim/config/nvim-data/tree-sitter-inko/
nvim/config/nvim-data/tree-sitter-ispc/
nvim/config/nvim-data/tree-sitter-janet_simple/
nvim/config/nvim-data/tree-sitter-jq/
nvim/config/nvim-data/tree-sitter-jsonc/
nvim/config/nvim-data/tree-sitter-jsonnet/
nvim/config/nvim-data/tree-sitter-julia/
nvim/config/nvim-data/tree-sitter-just/
nvim/config/nvim-data/tree-sitter-kconfig/
nvim/config/nvim-data/tree-sitter-kdl/
nvim/config/nvim-data/tree-sitter-kotlin/
nvim/config/nvim-data/tree-sitter-koto/
nvim/config/nvim-data/tree-sitter-kusto/
nvim/config/nvim-data/tree-sitter-lalrpop/
nvim/config/nvim-data/tree-sitter-ledger/
nvim/config/nvim-data/tree-sitter-leo/
nvim/config/nvim-data/tree-sitter-linkerscript/
nvim/config/nvim-data/tree-sitter-liquid/
nvim/config/nvim-data/tree-sitter-liquidsoap/
nvim/config/nvim-data/tree-sitter-llvm/
nvim/config/nvim-data/tree-sitter-m68k/
nvim/config/nvim-data/tree-sitter-make/
nvim/config/nvim-data/tree-sitter-matlab/
nvim/config/nvim-data/tree-sitter-menhir/
nvim/config/nvim-data/tree-sitter-mermaid/
nvim/config/nvim-data/tree-sitter-meson/
nvim/config/nvim-data/tree-sitter-muttrc/
nvim/config/nvim-data/tree-sitter-nasm/
nvim/config/nvim-data/tree-sitter-nickel/
nvim/config/nvim-data/tree-sitter-nim/
nvim/config/nvim-data/tree-sitter-nim_format_string/
nvim/config/nvim-data/tree-sitter-ninja/
nvim/config/nvim-data/tree-sitter-nix/
nvim/config/nvim-data/tree-sitter-norg/
nvim/config/nvim-data/tree-sitter-nqc/
nvim/config/nvim-data/tree-sitter-objc/
nvim/config/nvim-data/tree-sitter-objdump/
nvim/config/nvim-data/tree-sitter-ocaml/
nvim/config/nvim-data/tree-sitter-ocaml_interface/
nvim/config/nvim-data/tree-sitter-odin/
nvim/config/nvim-data/tree-sitter-org/
nvim/config/nvim-data/tree-sitter-pascal/
nvim/config/nvim-data/tree-sitter-passwd/
nvim/config/nvim-data/tree-sitter-pem/
nvim/config/nvim-data/tree-sitter-perl/
nvim/config/nvim-data/tree-sitter-php/
nvim/config/nvim-data/tree-sitter-php_only/
nvim/config/nvim-data/tree-sitter-phpdoc/
nvim/config/nvim-data/tree-sitter-pioasm/
nvim/config/nvim-data/tree-sitter-po/
nvim/config/nvim-data/tree-sitter-pod/
nvim/config/nvim-data/tree-sitter-poe_filter/
nvim/config/nvim-data/tree-sitter-pony/
nvim/config/nvim-data/tree-sitter-printf/
nvim/config/nvim-data/tree-sitter-prisma/
nvim/config/nvim-data/tree-sitter-problog/
nvim/config/nvim-data/tree-sitter-prolog/
nvim/config/nvim-data/tree-sitter-promql/
nvim/config/nvim-data/tree-sitter-properties/
nvim/config/nvim-data/tree-sitter-proto/
nvim/config/nvim-data/tree-sitter-prql/
nvim/config/nvim-data/tree-sitter-psv/
nvim/config/nvim-data/tree-sitter-pug/
nvim/config/nvim-data/tree-sitter-puppet/
nvim/config/nvim-data/tree-sitter-purescript/
nvim/config/nvim-data/tree-sitter-pymanifest/
nvim/config/nvim-data/tree-sitter-ql/
nvim/config/nvim-data/tree-sitter-qmldir/
nvim/config/nvim-data/tree-sitter-qmljs/
nvim/config/nvim-data/tree-sitter-query/
nvim/config/nvim-data/tree-sitter-r/
nvim/config/nvim-data/tree-sitter-racket/
nvim/config/nvim-data/tree-sitter-ralph/
nvim/config/nvim-data/tree-sitter-rasi/
nvim/config/nvim-data/tree-sitter-rbs/
nvim/config/nvim-data/tree-sitter-re2c/
nvim/config/nvim-data/tree-sitter-readline/
nvim/config/nvim-data/tree-sitter-rego/
nvim/config/nvim-data/tree-sitter-requirements/
nvim/config/nvim-data/tree-sitter-rnoweb/
nvim/config/nvim-data/tree-sitter-robot/
nvim/config/nvim-data/tree-sitter-robots/
nvim/config/nvim-data/tree-sitter-roc/
nvim/config/nvim-data/tree-sitter-ron/
nvim/config/nvim-data/tree-sitter-rst/
nvim/config/nvim-data/tree-sitter-ruby/
nvim/config/nvim-data/tree-sitter-rust/
nvim/config/nvim-data/tree-sitter-scala/
nvim/config/nvim-data/tree-sitter-scheme/
nvim/config/nvim-data/tree-sitter-slang/
nvim/config/nvim-data/tree-sitter-slint/
nvim/config/nvim-data/tree-sitter-smali/
nvim/config/nvim-data/tree-sitter-smithy/
nvim/config/nvim-data/tree-sitter-snakemake/
nvim/config/nvim-data/tree-sitter-solidity/
nvim/config/nvim-data/tree-sitter-soql/
nvim/config/nvim-data/tree-sitter-sosl/
nvim/config/nvim-data/tree-sitter-sourcepawn/
nvim/config/nvim-data/tree-sitter-sparql/
nvim/config/nvim-data/tree-sitter-sql/
nvim/config/nvim-data/tree-sitter-squirrel/
nvim/config/nvim-data/tree-sitter-ssh_config/
nvim/config/nvim-data/tree-sitter-starlark/
nvim/config/nvim-data/tree-sitter-strace/
nvim/config/nvim-data/tree-sitter-styled/
nvim/config/nvim-data/tree-sitter-supercollider/
nvim/config/nvim-data/tree-sitter-surface/
nvim/config/nvim-data/tree-sitter-svelte/
nvim/config/nvim-data/tree-sitter-sxhkdrc/
nvim/config/nvim-data/tree-sitter-systemtap/
nvim/config/nvim-data/tree-sitter-systemverilog/
nvim/config/nvim-data/tree-sitter-t32/
nvim/config/nvim-data/tree-sitter-tablegen/
nvim/config/nvim-data/tree-sitter-tact/
nvim/config/nvim-data/tree-sitter-tcl/
nvim/config/nvim-data/tree-sitter-templ/
nvim/config/nvim-data/tree-sitter-terraform/
nvim/config/nvim-data/tree-sitter-textproto/
nvim/config/nvim-data/tree-sitter-thrift/
nvim/config/nvim-data/tree-sitter-tiger/
nvim/config/nvim-data/tree-sitter-tlaplus/
nvim/config/nvim-data/tree-sitter-tmux/
nvim/config/nvim-data/tree-sitter-todotxt/
nvim/config/nvim-data/tree-sitter-toml/
nvim/config/nvim-data/tree-sitter-tsv/
nvim/config/nvim-data/tree-sitter-tsx/
nvim/config/nvim-data/tree-sitter-turtle/
nvim/config/nvim-data/tree-sitter-twig/
nvim/config/nvim-data/tree-sitter-typescript/
nvim/config/nvim-data/tree-sitter-typespec/
nvim/config/nvim-data/tree-sitter-typoscript/
nvim/config/nvim-data/tree-sitter-typst/
nvim/config/nvim-data/tree-sitter-udev/
nvim/config/nvim-data/tree-sitter-ungrammar/
nvim/config/nvim-data/tree-sitter-usd/
nvim/config/nvim-data/tree-sitter-uxntal/
nvim/config/nvim-data/tree-sitter-v/
nvim/config/nvim-data/tree-sitter-vala/
nvim/config/nvim-data/tree-sitter-vento/
nvim/config/nvim-data/tree-sitter-verilog/
nvim/config/nvim-data/tree-sitter-vhs/
nvim/config/nvim-data/tree-sitter-wgsl/
nvim/config/nvim-data/tree-sitter-wgsl_bevy/
nvim/config/nvim-data/tree-sitter-wing/
nvim/config/nvim-data/tree-sitter-wit/
nvim/config/nvim-data/tree-sitter-xcompose/
nvim/config/nvim-data/tree-sitter-yaml/
nvim/config/nvim-data/tree-sitter-yang/
nvim/config/nvim-data/tree-sitter-yuck/
nvim/config/nvim-data/tree-sitter-zathurarc/
nvim/config/nvim-data/tree-sitter-zig/
nvim/config/nvim-data/tree-sitter-latex/
nvim/config/nvim-data/.netrwhist
nvim/config/nvim-data/blink/

nvim/config/nvim/after/ftplugin/.luacheckrc

nvim/config/nvim/plugged/

nvim/config/nvim/lazy-lock.json
nvim/config/nvim/.luarc.json

nvim/config/configstore/

nvim/config/firenvim/
nvim/config/nvim/spell/

nvim/bin/
nvim/opt
nvim/deps/
nvim/lib/
