nvim/
# !nvim/config/nvim/init.lua
# !nvim/config/nvim/lua
# !nvim/config/nvim/init.vim.bkp
# !nvim/config/nvim-data/site/plugin/awesome-pairing.vim
# !nvim/config/nvim-data/site/plugin/awesome-substitute.vim
# !nvim/share/nvim/sysinit.vim

*.exe
*.zip
desktop.ini

